* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#webTitle {
    color: white;
    width: 100%;
    background-image: linear-gradient(#87bf47, #618a33);
    padding-left: 10px;
    margin-bottom: 3px;
}

#webTitle h1 {
    font-family: "Comic Sans MS", serif;
    padding-top: 30px;
    padding-bottom: 10px;
}

#webTitle p {
    padding-bottom: 20px;
}

#topMenu {
    background-color: #618a33;
    color: white;
}

#topMenu ul {
    list-style-type: none;
    overflow: hidden;
}

#topMenu li {
    float: left;
}

#topMenu a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#topMenu a:hover {
    background-color: lightgreen;
}

#mainContent {
    margin-top: 10px;
    float: left;
    padding: 5px 10px;
    width: 63%;
}

#mainContent h2 {
    color: green;
    border-bottom: #618a33 solid 2px;
    margin-bottom: 10px;
}

#mainContent span {
    font-weight: bold;
}

#mainContent h3 {
    margin-top: 20px;
    margin-left: 20px;
    color: #618a33;
}

#mainContent li {
    list-style-image: url('./images/greentick.jpg');
    margin-top: 10px;
    margin-left: 50px;
    border-bottom: lime solid 2px;
}

#mainContent img {
    margin: 10px;
}

#lateralMenu {
    float: right;
    width: 30%;
    color: #618a33;
    margin: 10px 20px 20px;
    border-top: 25px solid #dae6cc;
    border-bottom: 25px solid #dae6cc;
    padding: 20px;
}

#lateralMenu ul {
    list-style-type: none;
}

#lateralMenu li {
    border-bottom: #618a33 solid 2px;
}

#lateralMenu li:hover {
    border-bottom: #dae6cc solid 2px;
}

#lateralMenu a {
    color: #618a33;
    text-decoration: none;
}

#lateralMenu a:hover {
    color : #dae6cc;
}
.validation {
    float: right;
    margin-left: 15px;
    margin-right: 10px;
    width: 55px;
}